/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: #111 ; /* #465eff */
  --secondary-color: #fff; /* rgba(0, 0, 0, 0.85); */
  --subitem-background: #fff; /* rgba(0, 0, 0, 0.04); */
  --subitem-text: #fff; /* rgba(0, 0, 0, 0.56); */
  --border-color: #fff; /* #465eff; */
  --hover-color: #fff; /* rgba(70, 94, 255, 1); */
}

body{
  margin: 0;
}
